[Unit]
Description=Streamtool
After=network.target mariadb.service
Wants=network-online.target

[Service]
Restart=always
Type=forking
PIDFile=/opt/streamtool/app/nginx/pid/nginx.pid
ExecStart=/opt/streamtool/app/nginx/sbin/nginx_streamtool
ExecStartPre=/opt/streamtool/app/nginx/sbin/nginx_streamtool -t
ExecReload=/opt/streamtool/app/nginx/sbin/nginx_streamtool -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true


[Install]
WantedBy=multi-user.target 
